<ion-modal-view class="modal-view ">

	<ion-header-bar class="bar-positive">
		<div class="buttons">
	    <button class="button button-clear" ng-click="terms_of_service_modal.hide()">Close</button>
	  </div>
	  <h1 class="title">Terms of Service</h1>
  </ion-header-bar>
	<ion-content class="padding">
    <div class="row">
      <div class="col">
        <div class="terms-of-service">
					<h4 class="title">Welcome to MechanLink App!</h4>
    			<p>This page (together with the documents referred to on it) tells you the terms of use on which you may make use of our website mechanlink.co.uk (our "Site") or any application we make available via an app store or otherwise (our "Service"), whether as a guest or a registered user. Please read these terms of use carefully before you start to use or Site or our Service. By accessing our Site or by using our Service, you indicate that you accept these terms of use and that you agree to abide by them. If you do not agree to these terms of use, do not use access our Site or use our Service.</p>
    			<h4 class="title">INFORMATION ABOUT US</h4>
    			<p>mechanlink.co.uk is a website operated by Mechanlink Limited ("we", "us" or "Mechanlink"), incorporated and registered in the England and Wales, whose registered office is at Faraday Wharf, Birmingham, B7 4BB, United Kingdom. Our Company registration number is 10724533. Our VAT number is 277 4217 84
. Mechanlink is a business where services are provided by independent automotive entities (our "Partner Automotive Services") and mediated by us.
</p>

    			<h4 class="title">ACCESSING OUR SERVICE OR OUR SERVICES</h4>
    			<p>Access to our Site and to our Service is permitted on a temporary basis, and we reserve the right to withdraw or amend access to our Site or our Service without notice (see below). We will not be liable if, for any reason, our Site or our Service is unavailable at any time or for any period. From time to time, we may restrict access to some parts our Site or our Service, or our entire Site or Service to users who have registered with us. You are responsible for maintaining the confidentiality of your login details and any activities that occur under your account. If you have any concerns about your login details or think they have been misused, you should contact hello@mechanlink.co.uk straight away to let us know. We can deactivate your account at any time.</p>

					<h4 class="title">ACCEPTABLE USE</h4>
    			<p>You may use our Service only for lawful purposes. You may not use our Site or our Service in any way that breaches any applicable local, national or international law or regulation or to send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards in clause 5 below. You also agree not to access without authority, interfere with, damage or disrupt any part of our Site or our Service or any network or equipment used in the provision of our Service.
</p>

					<h4 class="title">INTERACTIVE FEATURES OF OUR SITE</h4>
    			<p>We may from time to time provide certain features which allow you to interact through our Site or our Service such as chat rooms. Generally, we do not moderate any interactive service we provide although we may remove content in contravention of these Terms of Use as set out in section 6. If we do decide to moderate an interactive service, we will make this clear before you use the service and normally provide you with a means of contacting the moderator, should a concern or difficulty arise.
</p>

					<h4 class="title">CONTENT STANDARDS</h4>
    			<p>These content standards apply to any and all material which you contribute to our Service (the "Contributions"), and to any interactive services associated with it. You must comply with the spirit of the following standards as well as the letter. The standards apply to each part of any Contributions as well as to its whole. Contributions must be accurate (where they state facts), be genuinely held (where they state opinions) and comply with applicable law in the UK and in any country from which they are posted. Contributions must not:</p>
					-> contain any material which is defamatory of any person, obscene, offensive, hateful or inflammatory, promote sexually explicit material or promote violence or promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age; </br>
					-> infringe any copyright, database right or trademark of any other person;
be likely to deceive any person or be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence or promote any illegal activity;
 </br>
					-> be threatening, abuse or invade another's privacy, or cause annoyance, inconvenience or needless anxiety or be likely to harass, upset, embarrass, alarm or annoy any other person; </br>
					-> be likely to deceive any person or be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence or promote any illegal activity; </br>
	-> be used to impersonate any person, or to misrepresent your identity or affiliation with any person or give the impression that they emanate from us, if this is not the case; or</br>
-> advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement or computer misuse.
</br>

					<h4 class="title">SUSPENSION AND TERMINATION</h4>
    			<p>Failure to comply with section 3 (Acceptable Use) and/or 5 (Content Standards) in these Terms of Use constitutes a material breach of the Terms of Use, and may result in our taking all or any of the following actions:</p>
				-> immediate, temporary or permanent withdrawal of your right to use our Service;</br>
				-> immediate, temporary or permanent removal of any posting or material uploaded by you to our Service; </br>
				-> issuing of a warning to you; </br>
				-> legal action against you including proceedings for reimbursement of all costs on an (including, but not limited to, reasonable administrative and legal costs) resulting from the breach;
 </br>
				-> disclosure of such information to law enforcement authorities as we reasonably feel is necessary. </br>
<p>The responses described in this clause are not limited, and we may take any other action we reasonably deem appropriate.
 </p>
					<h4 class="title">INTELLECTUAL PROPERTY RIGHTS</h4>
    			<p>We are the owner of or the licensee of all intellectual property rights in our Site and our Service, and in the material published on it (excluding your Contributions). Those works are protected by copyright laws and treaties around the world. All such rights are reserved. You may not copy, reproduce, republish, download, post, broadcast, transmit, make available to the public, or otherwise use any content on our site in any way except for your own .</p>

					<h4 class="title">RELIANCE ON INFORMATION POSTED</h4>
    			<p>Commentary and other materials posted on our Service are not intended to amount to advice on which reliance should be placed. We therefore disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor to our Service, or by anyone who may be informed of any of its contents.</p>

					<h4 class="title">OUR SITE AND OUR SERVICE CHANGE REGULARLY</h4>
    			<p>We aim to update our Site and our Service regularly, and may change the content at any time. If the need arises, we may suspend access to our Site and our Service, or close them indefinitely. Any of the material on our Site or our Service may be out of date at any given time, and we are under no obligation to update such material.</p>

					<h4 class="title">OUR LIABILITY</h4>
    			<p>We have taken every care in the preparation of our Site and our Service. However, we will not be responsible for any errors or omissions in relation to such content or for any technical problems you may experience with our Site or our Service. If we are informed of any inaccuracies on our Site or in our Service we will attempt to correct this as soon as we reasonably can. To the extent permitted by law, we exclude all liability (whether arising in contract, in negligence or otherwise) for loss or damage which you or any third party may incur in connection with our Site, our Service, and any website linked to our Site and any materials posted on it. This does not affect our liability for death or personal injury arising from our negligence, or our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, or any other liability which cannot be excluded or limited under applicable law.
</p>

					<h4 class="title">INFORMATION ABOUT YOU AND YOUR VISITS TO OUR SITE AND USE OF OUR SERVICE</h4>
    			<p>We collect certain data about you as a result of you using our Service. This is described in more detail in our privacy policy.</p>

					<h4 class="title">UPLOADING MATERIAL TO OUR SITE AND OUR SERVICE</h4>
    			<p>Any material you upload to our Service or data that we collect as set out above (section 11) will be considered non-confidential and non-proprietary, and you acknowledge and agree that we have the right to use, copy, distribute, sell and disclose to third parties any such material or data for any purpose related to our business. To the extent that such material is protected by intellectual property rights, you grant us a perpetual, worldwide, royalty-free licence to use, copy, modify, distribute, sell and disclose to third parties any such material or data for any purpose related to our business.</p>

					<h4 class="title">LINKS FROM OUR SITE</h4>
    			<p>Where our Site contains links to other sites and resources provided by third parties, these links are provided for your information only. We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them.</p>

					<h4 class="title">JURISDICTION AND APPLICABLE LAW</h4>
    			<p>The English courts will have jurisdiction over any claim arising from, or related to, a visit to our Site or use of our Services. These terms of use and any dispute or claim arising out of or in connection with them or their subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with the law of England and Wales.</p>

					<h4 class="title">VARIATIONS</h4>
    			<p>We may revise these terms of use at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we make, as they are binding on you.</p>

					<h4 class="title">YOUR CONCERNS</h4>
    			<p>If you have any concerns about material which appears on our Service, please contact hello@mechanlink.co.uk</p>

    		</div>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
