<ion-modal-view class="modal-view ">

	<ion-header-bar class="bar-positive">
		<div class="buttons">
	    <button class="button button-clear" ng-click="verify_account_modal.hide()">Close</button>
	  </div>
	  <h1 class="title">Verify Account</h1>
  </ion-header-bar>
	<ion-content class="padding">
    <div class="row">
      <div class="col">
        <div class="terms-of-service">
					<h4 class="title" ng-controller="sideMenuCtrl">3 Steps to verify your account [Ref ID:{{loggedUserId}}]</h4>
    			<p><strong>STEP 1: <strong/>Gather photographic evidence of government issued photo identification and/or photographic evidence of all qualifications and credentials
</p>
					<p><strong>STEP 2: <strong/> Email the above to hello@mechanlink.co.uk , with your name and ref id as the subject  </p>
						<p><strong>STEP 3: <strong/> Await verification </p>
    			<h4 class="title">Note</h4>
    			<p>This is tier 1 verification, and to become “verified by Mechanlink”, enquire via email: hello@mechanlink.co.uk with the subject “verified by mechanlink”
</p>

    		</div>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
