<ion-view view-title="Service: {{service.title}}" class="post-details-view">
  <ion-content overflow-scroll="true">
    <div class="post-card-content">
      <div class="item item-image">
        <ion-slides>
         <slide class="swiper-slide" options="sliderOptions" slider="swiper">
          <pre-img ratio="_1_1" helper-class="main-image">

            <img ng-src="{{service.photo}}" spinner-on-load>
          </pre-img>
        </slide>

      </ion-slides>

      </div>
      <!-- trend call out
      <div class="item item-divider trend-callout">
        <span class="post-trend-copy">Catch up with this trend</span>
        <a class="trend-wrapper button button-small" ui-sref="app.trend_feed({ trendId: service.trend.id })">
          <i class="icon ion-arrow-graph-up-right"></i>
          <span class="post-trend">{{ service.trend.name }}</span>
          <i class="icon ion-chevron-right"></i>
        </a>
      </div>
    -->
      <div class="item item-body feedtitle-bg">
        <h2 class="post-title">{{service.title}}</h2>
      </div>
      <div class="item locationwrap" ng-if="service.location !='undefined'">
        <a ui-sref="app.post({ postId: card.id })">
        <icon class="ion-location"> {{ service.location }}</icon>
        </a>
      </div>
      <div class="item item-avatar">
        <div class="card-avatar-image-outer">
          <a ui-sref="app.profile.posts({userId: service.userId})">
            <pre-img ratio="_1_1" helper-class="avatar-image">
              <img ng-src="{{ service.user.photo }}" spinner-on-load>
            </pre-img>
          </a>
        </div>
        <a ui-sref="app.profile.posts({userId: service.userId})">
          <h2 class="avatar-title"><icon class="icon ion-person midgetfont" ng-if="!service.user.ismechanic"></icon><icon ng-if="service.user.ismechanic" class="icon ion-android-car midgetfont"></icon> {{ service.user.fname}} {{ service.user.lname }} <icon class="icon ion-minus calm midgetfont" ng-if="!service.user.isverified"></icon><icon ng-if="service.user.isverified" class="icon ion-plus calm midgetfont"></icon></h2>
        </a>
        <p class="avatar-description"><span am-time-ago="service.date"></span></p>
          <a ui-sref="app.servicecategory_feed({ categoryId: service.category.id })">
            <span class="post-category {{ service.category.slug }}">{{ service.category.name }}</span>
          </a>
      </div>
      <div class="item item-body post-description-outer">
        <p class="post-description">{{service.description}}</p>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="row">

      <div class="col col-center actions-col">
        <div class="actions-brief float-left">
        <!--  <a ng-controller="CommentsCtrl" ng-click="showComments(service)" class="subdued button button-icon button-small theme-icon icon icon-chat-3">{{service.comments}}</a>  -->
          <a class="subdued button button-icon button-small icon ion-thumbsup" ng-controller="ReviewsCtrl" ng-click="showReviews(service)" > Review {{service.reviews}}</a>
        </div>
      </div>
      <div class="col col-center float-right actions-col">
        <!-- <button class="button button-icon theme-icon icon-share" social-share share="service"></button> -->
        <button ng-controller="BiddsCtrl" class="button button-icon button-small icon ion-android-call" ng-click="showBidds(service)" ng-if="service.user.id != service.loggeduserid"> Call {{service.user.fname}}</button>
        <button ng-controller="CommentsCtrl" class="button button-icon button-small theme-icon icon-messages" ng-click="showComments(service)" ng-if="service.user.id != service.loggeduserid">sms</button>

        <!-- Edit button to show to service owner -->
        <button ng-controller="NewPostCtrl" class="button button-icon button-small ion-android-delete" ng-click="deleteServicePost(service)" ng-if="service.user.id == service.loggeduserid"></button>
        <button ng-controller="NewPostCtrl" class="button button-icon button-small  icon ion-edit" ng-click="editServicePost(service)" ng-if="service.user.id == service.loggeduserid"></button>

      </div>
    </div>
  </ion-footer-bar>
</ion-view>
