<ion-view class="auth-view" cache-view="false">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="row form-heading">
      <div class="col">
        <h1 class="form-title">New user? Create your account</h1>

      </div>
    </div>
    <div class="row form-separator">
      <hr class="separator-line"/>
      <span class="separator-mark"><i class="glyphicon ion-android-car"></i></span>
      <hr class="separator-line"/>
    </div>
    <div class="row form-wrapper">
      <div class="col">
        <form name="signup_form" class="" ng-controller ="CreateAccountCtrl" novalidate>
          <div class="form-fields-outer list list-inset">
            <div class="row multi-inputs">
              <div class="col">
                <label class="item item-input">
                  <input class="multi-input" type="text" placeholder="First Name" name="fName" ng-model="user.fName" required>
                </label>
              </div>
              <div class="col">
                <label class="item item-input">
                  <input class="multi-input" type="text" placeholder="Last Name" name="lName" ng-model="user.lName" required>
                </label>
              </div>
            </div>
            <label class="item item-input">
              <input type="email" placeholder="Email" name="email" ng-model="user.email" required>
            </label>
            <label class="item item-input">
              <input type="tel" placeholder="Phone Number" name="phone" ng-model="user.phone" required>
            </label>
            <label class="item item-input" show-hide-container>
              <input type="password" placeholder="Password" name="password" ng-model="user.password" required show-hide-input>
            </label>
            <label>
              <ion-checkbox color="theme-color-5" checked="false" ng-model = "user.isMechanic"> <i class="glyphicon ion-android-car"></i> <i class="glyphicon ion-wrench"></i>  I am a Mechanic</ion-checkbox>
            </label>
            <button type="submit" class="sign-up button button-large button-block" ng-click="doSignUp()" ng-disabled="signup_form.$invalid">
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
