<ion-view class="welcome-view" cache-view="false">
  <ion-nav-bar>
    <ion-nav-buttons side="right">
      <span class="midgetfont">
        Version: 1.0.2
</span>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <!-- <div multi-bg="['http://lorempixel.com/640/1136?1']" interval="3000" helper-class="no-facebook-welcome-bg"> -->
    <!-- <div multi-bg="['http://i.giphy.com/tKX6FNU9UGwF2.gif']" interval="3000" helper-class="no-facebook-welcome-bg"> -->
    <!-- <div multi-bg="['http://i.giphy.com/13f7pejozPXuta.gif']" interval="3000" helper-class="no-facebook-welcome-bg"> -->
    <div multi-bg="['img/giphy-bg-2.gif']" interval="3000" helper-class="no-facebook-welcome-bg">
    <!-- <div multi-bg="['img/giphy-bg.gif']" interval="3000" helper-class="no-facebook-welcome-bg"> -->
      <div class="top-content row">
        <div class="app-copy col col-center">
          <div class="tagline-wrapper">
          <h1 class="app-tagline-huge">Mechanlink</h1>
          <p class="app-tagline">
            Your direct link to local mechanics

          </p>
        </div>
        </div>
      </div>
      <div class="bottom-content row">
        <div class="col col-bottom">
          <a class="have-account button button-large button-block" ui-sref="welcome-back">
            I have an account
          </a>
          <a class="create-account button-large button button-block" ui-sref="create-account">
            Create an account
          </a>

          <section ng-include="'views/app/legal/legal-notice.html'" ></section>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
