// mechanics
$mechanics-bg: $theme-color-1;

$mechanics-divider-bg: $theme-color-1-b;
$mechanics-divider-color: $theme-color-2;

$mechanics-color: $theme-color-2;

$mechanics-follow-button-bg: $theme-color-3;
$mechanics-hide-button-bg: $theme-color-2-d;
