<ion-modal-view class="new-status-post-view">
  <ion-header-bar class="bar-positive">
    <div class="buttons">
	    <button class="button button-clear" ng-click="closeChangePasswordModal()">Cancel</button>
	  </div>
	  <h1 class="title">Change Password</h1>

  <div class="buttons">
	    <button class="button button-clear" ng-click="buyCreditGetHelp()"> <icon class="icon-left ion-help-circled"></icon></button>
	  </div>
    </ion-header-bar>
  <ion-content>

    <div class="row form-wrapper">

      <div class="col">
        <form name="signup_form" class="" novalidate>
          <div class="form-fields-outer list list-inset">

            <label class="item item-input" show-hide-container>
              <input type="password" placeholder="Enter Current Password" name="password" ng-model="user.password" required show-hide-input>
            </label>

            <label class="item item-input" show-hide-container>
              <input type="password" placeholder="Enter New Password" name="password" ng-model="user.password" required show-hide-input>
            </label>



            <p ng-show="error" class="message error">{{error}}</p>
          </div>
        </form>
      </div>
    </div>




  </ion-content>

  <ion-footer-bar class="bar-stable centeralign">

    <div class="col-center ">    <button type="submit" class="sign-up button button-icon icon ion-locked icon-right" ng-click="doSignUp()" ng-disabled="signup_form.$invalid">
        Update Password
      </button></div>

  </ion-footer-bar>
</ion-modal-view>
