<ion-view class="profile-following profile-sub-view feed-view" view-title="Won Bids [{{wonbids.length}}]">
<ion-content>
  <div class="paddingbottomsixty">
  <ion-list class="contacts-list" can-swipe="true" overflow-scroll="true">
    <ion-item class="contact-item item-avatar" ng-if="wonbids.length > 0" ng-repeat="wonbid in wonbids">
      <div class="item-content-wrapper" ui-sref="app.post({ postId: wonbid.job_id })">
        <div class="user-image-outer">
          <pre-img ratio="_1_1" helper-class="square-image">
            <img class="user-image" ng-src="{{wonbid.photo}}" spinner-on-load>
          </pre-img>
        </div>
        <div class="row contact-main first-row">
          <div class="contact-description " >
            <div class="name" ><span><strong> {{ wonbid.jobownername }}</strong> </span>
<span class="calm"> accepted your bid <span class="midgetfont assertive"><icon class="icon ion-clock"></icon> <span  am-time-ago="wonbid.created_at"></span></span></span>
            </div>
        <p class="about-user">{{wonbid.title}} </p
      </div>

        </div>

      </div>
      <ion-option-button class="unfollow-button" ng-click="removeNotification(notification)" >Clear</ion-option-button>
    </ion-item>

  </ion-list>
</div>
  <div ng-if="!notifications.length" class="row row-center empty-feed-outer">
    <div class="col">
      <i class="empty-feed-icon icon ion-sad-outline"></i>
      <h2 class="empty-feed-text">No notifications available </h2>
    </div>
  </div>
  </ion-content>


</ion-view>
