<ion-view class="profile-followers profile-sub-view" view-title="Trusted By">
<ion-content>
  <ion-list class="contacts-list" can-swipe="true" delegate-handle="followers-list">
    <ion-item class="contact-item item-avatar" ng-repeat="follower in user.followers">
      <div class="item-content-wrapper" ui-sref="app.profile.posts({userId: follower.trusted_user_data.id})">
        <div class="user-image-outer">
          <pre-img ratio="_1_1" helper-class="square-image">
            <img class="user-image" ng-src="{{follower.user_data.photo}}" spinner-on-load>
          </pre-img>
        </div>
        <div class="row contact-main first-row">
          <div class="col col-67 contact-description">
            <span class="name"><icon class="icon ion-person midgetfont" ng-if="!follower.user_data.ismechanic"></icon><icon ng-if="follower.user_data.ismechanic" class="icon ion-android-car midgetfont"></icon> {{ follower.user_data.fname }} {{ follower.user_data.lname }} <icon class="icon ion-minus calm midgetfont" ng-if="!follower.user_data.isverified"></icon><icon ng-if="follower.user_data.isverified" class="icon ion-plus calm midgetfont"></icon></span>
        <p class="about-user">{{follower.user_data.about}}</p>  </div>
          <!--<div class="col contact-actions">
            <button ng-if="follower.follow_back" class="action-button button button-outline active button-small button-block" trigger-unfollow>
              Trusted
            </button>
            <button ng-if="!follower.follow_back" class="action-button button button-outline button-small button-block" ng-click="follow(contact)">
              Trust
            </button>
          </div> -->
        </div>

      </div>
      <ion-option-button ng-if="follower.follow_back" class="unfollow-button" ng-click="remove(contact)">Untrust</ion-option-button>
    </ion-item>
  </ion-list>
  </ion-content>
</ion-view>
