<ion-view class="mechanics-view" ng-cloak >
  <ion-nav-title >
  <span>Mechanics</span>
  </ion-nav-title>
  <ion-content>
    <div class="google-search-bar">
      <div class="col" >
          <label class="item item-input search-box">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input ng-model="mechanicsearch.input" type="text" ng-change="searchForMechanics(mechanicsearch.input,1)" placeholder="Search for a mechanic, by their name or location"/>
          </label>

      </div>
    </div>
<div class="centeralign row dark-bg" ng-if="totalSearchPages == 0 && mechanicsearch.input.length >=2"><h4 class="light"><i class="empty-feed-icon icon ion-sad-outline"> </i> No match found!</4></div>
    <div class="search_result" ng-if="mechanics_search_results.length >0 && mechanicsearch.input.length >=2">
      <div class="item">
      <icon class="icon ion-ios-search"></icon> Search Result
      </div>

      <div class="suggested-mechanics-list">
        <div class="suggested-mechanics row" ng-repeat="mechanic in mechanics_search_results">
          <div class="col col-center col-user-image">
            <!-- We need a wrapper with width set for the preload image directive -->
            <div class="user-image-outer">
              <a ui-sref="app.profile.posts({userId: mechanic.user_id})">
                <pre-img ratio="_1_1" helper-class="square-image">
                  <img class="user-image" ng-src="{{mechanic.photo}}" spinner-on-load>
                </pre-img>
              </a>
            </div>
          </div>
          <div class="col col-center">
            <div class="row user-data">
              <div class="col">
                <a class="name" ui-sref="app.profile.posts({userId: mechanic.user_id})">{{mechanic.fname}} {{mechanic.lname}} <icon class="icon ion-minus calm midgetfont" ng-if="!mechanic.isverified"></icon><icon ng-if="mechanic.isverified" class="icon ion-plus calm midgetfont"></icon></a>
                  <span class="brief-info"><icon class="icon ion-location assertive"> </icon> <span class="assertive">{{mechanic.mechanicaddress}}</span></span>
                  <span class="brief-info"> <icon class="icon ion-android-car assertive"> </icon>{{mechanic.about}}</span>
                <span class="brief-info"><icon class="icon ion-ios-people assertive"> </icon>Trusted  By {{mechanic.trustedby}} </span>
              </div>
            </div>
          </div>
        </div>
        <div class="centeralign assertive" ng-if="moreDataCanBeLoadedSearchResult()" ng-click ="loadMoreDataForSearchResult(mechanicsearch.input)"><div class="item assertive button-small centeralign"><icon class="icon ion-ios-arrow-down assertive"> </icon> load more</div></div>

      </div>
    </div>

<div class="suggested_mechanics_wrap">
  <div class="item">
  <icon class="icon ion-radio-waves"></icon>  Suggestions
  </div>

  <div class="suggested-mechanics-list">
    <div class="suggested-mechanics row" ng-repeat="mechanic in mechanics_suggestions">
      <div class="col col-center col-user-image">
        <!-- We need a wrapper with width set for the preload image directive -->
        <div class="user-image-outer">
          <a ui-sref="app.profile.posts({userId: mechanic.user_id})">
            <pre-img ratio="_1_1" helper-class="square-image">
              <img class="user-image" ng-src="{{mechanic.photo}}" spinner-on-load>
            </pre-img>
          </a>
        </div>
      </div>
      <div class="col col-center">
        <div class="row user-data">
          <div class="col">
            <a class="name" ui-sref="app.profile.posts({userId: mechanic.user_id})">{{mechanic.fname}} {{mechanic.lname}} <icon class="icon ion-minus calm midgetfont" ng-if="!mechanic.isverified"></icon><icon ng-if="mechanic.isverified" class="icon ion-plus calm midgetfont"></icon></a>
              <span class="brief-info" ><icon class="icon ion-location assertive"> </icon> <span class="assertive">{{mechanic.mechanicaddress}}</span></span>
              <span class="brief-info" ng-if="mechanic.about !=''"> <icon class="icon ion-android-car assertive"> </icon>{{mechanic.about}}</span>
            <span class="brief-info"><icon class="icon ion-ios-people assertive"> </icon>Trusted  By {{mechanic.trustedby}} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  </ion-content>
</ion-view>
