<ion-view class="browse-view" view-title="Jobs">
  <ion-content>
    <!--<div class="list">
      <div class="item item-divider">
        <i class="icon ion-arrow-graph-up-right"></i> Most Come On Faults
      </div>
    -->
    <div class="google-search-bar" ng-controller="NewPostCtrl">
      <div class="col" >
          <label class="item item-input search-box">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input ng-model="search.input" type="text" placeholder="Search for jobs to bid on"  ng-click="showJobSearchModal()"/>
          </label>

      </div>
    </div>
<div class="item item-divider"></div>
    <div class="post-job">
      <div ng-controller="NewPostCtrl" class="card new-post">
      <div class="item item-avatar">
        <div class="card-avatar-image-outer">
          <pre-img ratio="_1_1" helper-class="avatar-image">
            <img ng-src="{{loggedUser.photo}}" spinner-on-load>
          </pre-img>
        </div>
        <a class="new-post-call-to-action" ng-click="newJobPost()">
          <h3 class="new-post-copy">Write the problem with your vehicle...</h3>
        </a>
      </div>
      <div class="item tabs tabs-icon-left">
        <a class="tab-item" ng-click="newJobPost()">
        <span class="cardbutton">  <i class="icon ion-hammer"></i>
          Post Job</span>
        </a>

        <a class="tab-item" ng-click="newImageJobPost()">
        <span class="cardbutton">  <i class="icon ion-camera"></i>
          Add Photos</span>
        </a>
        <a class="tab-item" ng-click="checkinJobPost()">
          <span class="cardbutton"><i class="icon ion-location"></i>
          Pin Location</span>
        </a>

      </div>
    </div>
  </div>

      <!--<div ng-repeat="trend in trends" class="trend-item">
        <a ui-sref="app.trend_feed({ trendId: trend.id })" class="trend-anchor">
          <div multi-bg="[trend.image]" interval="3000" helper-class="category-with-image">
            <h1 class="trend-title">View All Jobs</h1>
          </div>
        </a>
      </div> -->
      <div class="item">
        <i class="icon ion-grid"></i> Jobs By Category
      </div>
      <div class="row categories-outer">
        <div ng-repeat="category in categories" class="col col-50 category-item-outer">
          <a ui-sref="app.category_feed({ categoryId: category.id })">
            <div class="category-item-wrapper">
              <div class="category-item-content" ng-init="bg_img = category.image">
                <div multi-bg="[bg_img]" interval="3000" helper-class="category-with-image">
                  <h1 class="category-title">{{category.name}}</h1>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
