<ion-view class="feed-view" ng-class="{'filtered-feed': (is_trend_feed || is_category_feed)}" ng-cloak>
  <ion-nav-title ng-controller="NewPostCtrl">
    <span ng-if="is_category_feed">{{ current_category.name }} Serivces
      <button ng-click="showServicesSearchModal()" class="button button-small button-icon icon ion-search light"></button>
    </span>
    <span ng-if="!is_trend_feed && !is_category_feed">Services
      <button ng-click="showServicesSearchModal()" class="button button-small button-icon icon ion-search light"></button>
    </span>
    <span class="float-right new-post-notification button button-outline" ng-if="newnotificationscount > 0" ng-controller="customNavCtrl" ng-click="gotoNotifications()"><span><i class="icon  energized ion-android-notifications"></i> <span class="balanced theme-icon">{{newnotificationscount }}</span> </span></span>

  </ion-nav-title>
  <ion-content>
    <!-- Refresh to get the new posts -->
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="getNewServiceData()">
    </ion-refresher>

    <div ng-if="is_trend_feed || is_category_feed" class="row filtered-feed-header-outer">
      <div ng-if="is_category_feed" class="col filtered-feed-header">
        <div multi-bg="[current_category.image]" interval="3000" helper-class="category-with-image">
          <div class="filtered-feed-header-content">
            <h2 class="header-title">{{ current_category.name }} Services</h2>
          </div>
        </div>
      </div>
      <div ng-if="is_trend_feed" class="col filtered-feed-header">
        <div multi-bg="[current_trend.image]" interval="3000" helper-class="category-with-image">
          <div class="filtered-feed-header-content">
            <h2 class="header-title">{{ current_trend.name }} Services</h2>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="!is_trend_feed && !is_category_feed" ng-controller="NewPostCtrl" class="card new-post">
      <div class="item item-avatar">
        <div class="card-avatar-image-outer">
          <pre-img ratio="_1_1" helper-class="avatar-image">
            <img ng-src="{{loggedUser.picture}}" spinner-on-load>
          </pre-img>
        </div>
        <a class="new-post-call-to-action" ng-click="newStatusPost()">
          <h3 class="new-post-copy">What is the problem with your vehicle?</h3>
        </a>
      </div>
      <div class="item tabs tabs-icon-left">
        <a class="tab-item" ng-click="newStatusPost()">
        <span class="cardbutton">  <i class="icon ion-hammer"></i>
          Post Job</span>
        </a>

        <a class="tab-item" ng-click="newImageStatusPost()">
        <span class="cardbutton">  <i class="icon ion-camera"></i>
          Add Photos</span>
        </a>
        <a class="tab-item" ng-click="checkinStatusPost()">
          <span class="cardbutton"><i class="icon ion-location"></i>
          Pin Location</span>
        </a>

      </div>
    </div>

    <div class="feed-cards-outer">
      <div ng-if="cards.length > 0" ng-repeat="card in cards" class="post-card-outer">
         <section ng-include="'views/app/partials/servicesfeed-post-card.html'" class="post-card-outer"></section>
      <!--  <section ng-include="'views/app/partials/feed-post-card.html'"></section>-->
      </div>
      <div ng-if="!cards" class="row row-center empty-feed-outer">
        <div class="col">
          <i class="empty-feed-icon icon ion-sad-outline"></i>
          <h2 class="empty-feed-text">No service posts available, swipe up to refresh {{cards.length}}</h2>
        </div>
      </div>
    </div>

    <!-- Infinit scroll -->
    <ion-infinite-scroll ng-if="moreDataCanBeLoadedForServiceCategory()" on-infinite="loadMoreDataForServiceCategory()" distance="2%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
