<ion-side-menus enable-menu-with-back-views="false" ng-cloak>
  <ion-side-menu-content>

    <ion-nav-bar class="app-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content has-bouncing="false" scroll="false" class="menu-outer left-menu">


<div class="centeralign"><img src="img/whitetranparentlogo.png" class="col-bottom col-50 col">
</div>

      <ion-list class="menu-items-list" ng-controller="sideMenuCtrl">
        <div class="row">
          <div class="col col-center">
            <ion-item ui-sref-active="active" class="item-icon-left item-icon-right" menu-close ui-sref="app.feed" ng-cloak>
              <i class="menu-icon icon ion-social-rss"></i>
              <h2 class="menu-text">Home</h2>
              <i class="item-pointer-icon icon ion-chevron-right"></i>
            </ion-item>
            <ion-item ui-sref-active="active" class="item-icon-left item-icon-right" menu-close ui-sref="app.jobcategories" ng-if="loggedUserIsMechanic !=0" ng-cloak>
              <i class="menu-icon icon ion-hammer"></i>
              <h2 class="menu-text">Jobs</h2>
              <i class="item-pointer-icon icon ion-chevron-right"></i>
            </ion-item>
            <ion-item ui-sref-active="active" class="item-icon-left item-icon-right" menu-close ui-sref="app.servicecategories" ng-cloak>
              <i class="menu-icon icon ion-ios-medkit-outline"></i>
              <h2 class="menu-text">Services</h2>
              <i class="item-pointer-icon icon ion-chevron-right"></i>
            </ion-item>
            <ion-item ui-sref-active="active" class="item-icon-left item-icon-right" menu-close ui-sref="app.mechanics" ng-cloak>
              <i class="menu-icon icon ion-android-car"></i>
              <h2 class="menu-text">Mechanics</h2>
              <i class="item-pointer-icon icon ion-chevron-right"></i>
            </ion-item>

          </div>
        </div>
        <div class="row" >
          <div class="col col-top">
            <ion-item ui-sref-active="active" ng-class="{'active': ('app.profile' | includedByState)}" class="item-icon-left item-icon-right" menu-close ui-sref="app.profile.services({userId: loggedUserId})" ng-if="loggedUserIsMechanic ==1" ng-cloak>
              <i class="menu-icon icon ion-happy-outline"></i>
              <h2 class="menu-text">My Profile</h2>
              <i class="item-pointer-icon icon ion-chevron-right"></i>
            </ion-item>
            <ion-item ui-sref-active="active" ng-class="{'active': ('app.profile' | includedByState)}" class="item-icon-left item-icon-right" menu-close ui-sref="app.profile.posts({userId: loggedUserId})" ng-if="loggedUserIsMechanic ==0" ng-cloak>
              <i class="menu-icon icon ion-happy-outline"></i>
              <h2 class="menu-text">My Profile</h2>
              <i class="item-pointer-icon icon ion-chevron-right"></i>
            </ion-item>
          </div>
        </div>
        <div class="row light midgetfont">Version: 1.0.2</div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
