<ion-view class="profile-following profile-sub-view" view-title="Trust">
  <ion-content>
  <ion-list class="contacts-list" can-swipe="true" delegate-handle="following-list">
    <ion-item class="contact-item item-avatar" ng-repeat="following in user.following">
      <div class="item-content-wrapper" ui-sref="app.profile.posts({userId: following.trusted_user_data.id})">
        <div class="user-image-outer">
          <pre-img ratio="_1_1" helper-class="square-image">
            <img class="user-image" ng-src="{{following.trusted_user_data.photo}}" spinner-on-load>
          </pre-img>
        </div>
        <div class="row contact-main first-row">
          <div class="col col-67 contact-description">
            <span class="name"><icon class="icon ion-person midgetfont" ng-if="!following.userData.ismechanic"></icon><icon ng-if="following.trusted_user_data.ismechanic" class="icon ion-android-car midgetfont"></icon> {{ following.trusted_user_data.fname }} {{ following.trusted_user_data.lname }} <icon class="icon ion-minus calm midgetfont" ng-if="!following.userData.isverified"></icon><icon ng-if="following.userData.isverified" class="icon ion-plus calm midgetfont"></icon></span>
        <p class="about-user">{{following.trusted_user_data.about}}</p>  </div>
        <!--  <div class="col contact-actions">
            <button class="action-button button button-outline active button-small button-block" trigger-unfollow>
              Trusted
            </button>
          </div>-->
        </div>

      </div>
    <!--  <ion-option-button class="unfollow-button" ng-click="remove(contact)">Untrust</ion-option-button> -->
    </ion-item>
  </ion-list>
  </ion-content>
</ion-view>
