<ion-view class="profile-details" view-title="Profile" ng-cloak>
  <div class="row profile-details-section">
    <div class="col col-center col-25">
      <!-- A wrapper with width set for the preload image directive -->
      <div class="user-image-outer">
        <pre-img ratio="_1_1" helper-class="rounded-image">
          <img class="user-image" ng-src="{{user.photo}}" spinner-on-load>
        </pre-img>
      </div>
    </div>
    <div class="col col-center">
      <!-- For customer -->
      <div class="row user-details-top" ng-if="!user.ismechanic">
        <!-- <div class="col user-detail-item">
          <b class="item-count">{{user.posts.length}}</b>
          <span class="item-name">jobs posted</span>
        </div> -->
        <div class="col user-detail-item" >
          <a ui-sref="app.profile.followers({userId: currentUserId})">
            <b class="item-count">{{user.followers.length}}</b>
            <span class="item-name">trusted by</span>
          </a>
        </div>
        <div class="col user-detail-item">
          <a ui-sref="app.profile.following({userId: currentUserId})">
            <b class="item-count">{{user.following.length}}</b>
            <span class="item-name">trusts</span>
          </a>
        </div>
      </div>

      <!-- For mechanics -->
      <div class="row user-details-top" ng-if="user.ismechanic">
      <!--  <div class="col user-detail-item">
          <b class="item-count">{{user.posts.length}}</b>
          <span class="item-name">jobs done</span>
        </div> -->
        <div class="col user-detail-item">
          <a ui-sref="app.profile.followers({userId: currentUserId})">
            <b class="item-count">{{user.followers.length}}</b>
            <span class="item-name">trusted by</span>
          </a>
        </div>
        <div class="col user-detail-item">
          <a ui-sref="app.profile.following({userId: currentUserId})">
            <b class="item-count">{{user.following.length}}</b>
            <span class="item-name">trust</span>
          </a>
        </div>
      </div>
      <div class="row user-details-bottom" ng-if="!myProfile && !user.ismechanic" ng-controller="NewPostCtrl">
        <div class="col user-action-outer">
          <a class="button button-small button-block button-outline" ng-click="trustUser(user)" ng-if="!currentUserIsTrusted">
            <i class="icon ion-plus-round"></i> Trust this person
          </a>
          <a class="button button-small button-block button-outline" ng-click="unTrustUser(user)" ng-if="currentUserIsTrusted">
            <i class="icon ion-minus-round"></i> Untrust this person
          </a>
        </div>
      </div>
      <div class="row user-details-bottom" ng-if="user.ismechanic && !myProfile" ng-controller="NewPostCtrl">
        <div class="col user-action-outer">
          <a class="button button-small button-block button-outline" ng-click="trustUser(user)" ng-if="!currentUserIsTrusted">
            <i class="icon ion-plus-round"></i> Trust this mechanic
          </a>
          <a class="button button-small button-block button-outline"  ng-click="unTrustUser(user)" ng-if="currentUserIsTrusted">
            <i class="icon ion-minus-round"></i> Untrust this mechanic
          </a>
        </div>
      </div>
      <div class="row user-details-bottom" ng-if="myProfile">
        <div class="col user-action-outer">
          <a class="button button-small button-block button-outline" ui-sref="app.settings">
            <i class="icon ion-gear-a"></i> SETTINGS
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row profile-details-section">
    <div class="col user-info">
    <div class="clearfix">
      <div class="float-left">
        <h4 class="user-name float-left"><icon class="icon ion-person" ng-if="!user.ismechanic"></icon><icon ng-if="user.ismechanic" class="icon ion-android-car"></icon> {{user.fname}} {{user.lname}} <icon class="icon ion-minus calm midgetfont" ng-if="!user.isverified"></icon><icon ng-if="user.isverified" class="icon ion-plus calm midgetfont"></icon></h4> <!--<span class="float-left positive"> {{user.rating}}% </span> -->
      </div>
      <!--<div class="float-right" ng-if="myProfile">
        <a class="button button-small button-assertive button-outline" ng-controller="NewPostCtrl" ng-click="showBuyCreditModal()">
      Credit:  <b> 25</b>
      </a>
    </div> -->
  </div>
<div class="row userlocation assertive" ng-if="user.address"><icon class="icon ion-location"> {{user.address}}</icon> </div>
      <p class="user-description row" ng-if="user.about">
        <icon class="icon ion-happy"> {{user.about}} </icon>
      </p>
        <!--show user contact menu-->
      <div class="user-contact" ng-if="!myProfile">

        <div class="item tabs tabs-light  tabs-icon-left ">
        <!--  <a  class="tab-item assertive" dynamic-anchor-fix>
            <i class="icon theme-icon ion-android-globe "></i>
            website
          </a>
          <a class="tab-item assertive" ng-controller="EmailComposerCtrl" ng-click="sendMail()" >
            <i class="icon theme-icon ion-ios-email"></i>
            email
          </a>
          <a class="tab-item assertive" ng-class="{bidded: card.bidded}"  ng-controller="BiddsCtrl" ng-click="showBidds(card)">
            <i class="icon theme-icon icon-messages"></i>
            sms
          </a>
        -->
          <a class="tab-item assertive" ng-href="tel:{{user.phone}}">
            <i class="icon theme-icon ion-android-call"></i>
          Call Mechanic
          </a>

        </div>
      </div>

      <!--show user menu if own profile instead of user contact menu FOR MECHANIC   -->
      <div class="user-contact" ng-controller="NewPostCtrl" ng-if="myProfile && user.ismechanic">
      <!--  <a ng-controller="EmailComposerCtrl" ng-click="sendMail()">
          <i class="icon ion-email"></i> {{user.email}}
        </a> -->

        <div class="item tabs tabs-color-light tabs-icon-right">

          <a class="tab-item " ng-click="showPostNewService()">
            <span class="assertive">Post a new Service <i class="icon theme-icon ion-ios-medkit-outline"></i></span>
          </a>
          <a class="tab-item " ng-click="newJobPost()">
            <span class="assertive">Post a new Job <i class="icon theme-icon ion-hammer"></i></span>
          </a>
        </div>

        <div class="item tabs tabs-color-light tabs-icon-right">
          <a class="tab-item " ui-sref="app.profile.wonbids({userId: currentUserId})">
            <span class="assertive">Won Bids <i class="icon theme-icon ion-ios-medical"></i></span>
          </a>

          <a class="tab-item " ui-sref="app.profile.notifications({userId: currentUserId})">
            <span class="assertive">Notifications </span><i class="icon theme-icon ion-android-notifications energized"><span class="button-small balanced"><strong>{{newnotificationscount}}</strong></span></i>
        </a>
        </div>


      </div>

      <!--show user menu if own profile instead of user contact menu FOR CUSTOMER-->
      <div class="user-contact" ng-if="myProfile && !user.ismechanic" ng-controller="NewPostCtrl">

        <div class="item tabs tabs-color-light tabs-icon-right">

          <a class="tab-item " ng-click="newJobPost()">
            <span class="assertive">Post a new Job <i class="icon theme-icon ion-hammer"></i> </span>
          </a>
          <a class="tab-item " ui-sref="app.profile.notifications({userId: currentUserId})">
            <span class="assertive">Notifications </span><i class="icon theme-icon ion-android-notifications energized"><span class="button-small balanced"><strong>{{user.following.length}}</strong></span></i>
        </a>


        </div>
      </div>
    <!--  <p class="user-site" dynamic-anchor-fix>
        <a ng-href="{{user.website}}"><i class="icon theme-icon ion-android-globe"></i> {{user.website | cleanUrl}}</a>
      </p> -->
    </div>
  </div>

  <!--For mechanics and a mechanic user's own profile -->
  <div class="row profile-details-section split-actions" ng-if="user.ismechanic">
    <div class="col user-interaction">
      <a class="user-interaction-tab button button-clear button-block" ng-class="{active: ('app.profile.services' | includedByState)}" nav-transition="none" ng-click="getUserServices()" role="tab">
         Services [ <b class="item-count" ng-if="user.services">{{user.services.length}}</b>
         <b class="item-count" ng-if="!user.services"> 0 </b> ]
      </a>
    </div>

    <div class="col user-interaction">
      <a class="user-interaction-tab button button-clear button-block" ng-class="{active: ('app.profile.posts' | includedByState)}" nav-transition="none" ng-click="getUserPosts()" role="tab">
         Jobs [ <b class="item-count" ng-if="user.posts">{{user.posts.length}}</b>
         <b class="item-count" ng-if="!user.posts"> 0 </b> ]
      </a>

    </div>

  </div>

  <!-- For customer profile own profile-->
  <div class="row profile-details-section split-actions" ng-if="!user.ismechanic">
    <div class="col user-interaction">
      <a class="user-interaction-tab button button-clear button-block" ng-class="{active: ('app.profile.posts' | includedByState)}" nav-transition="none" ng-click="getUserPosts()" role="tab">
        <i class="icon ion-document-text"></i> Jobs [ <b class="item-count" ng-show="user.posts">{{user.posts.length}}</b>
        <b class="item-count" ng-show="!user.posts"> 0 </b> ]
      </a>
    </div>


  </div>
  <ion-nav-view class="profile-sub-views-outer" name="profileSubContent"></ion-nav-view>
</ion-view>
