<ion-view view-title="Settings" class="settings-view">
  <ion-content>
    <div class="list">
      <div class="item item-divider title">
        Account
      </div>
      <a class="item settings-option" ng-controller="NewPostCtrl" ng-click="showEditProfileModal()">

        Edit Profile
        <span class="item-note">
          <i class="icon ion-ios-arrow-right"></i>
        </span>
      </a>
      <a class="item settings-option" ng-controller="NewPostCtrl" ng-click="showVerifyAccount()">

        Verify Account
        <span class="item-note">
          <i class="icon ion-ios-arrow-right"></i>
        </span>
      </a>
      <a class="item settings-option" ng-controller="NewPostCtrl" ng-click="showChangePasswordModal()">

        Change Password
        <span class="item-note">
          <i class="icon ion-ios-arrow-right"></i>
        </span>
      </a>
      <div class="item item-divider title">
        More
      </div>
      <a class="item settings-option" ng-click="showTerms()">
         <i class="icon ion-ios-information-outline"></i>
        Terms of Service
      </a>
      <a class="item settings-option" ng-click="showPrivacyPolicy()">
         <i class="icon ion-ios-locked-outline"></i>
        Privacy Policy
      </a>
    <!--  <a class="item settings-option">
      <i class="icon ion-ios-help-outline"></i>
        Help
      </a> -->
      <a class="item settings-option" ng-controller="AppRateCtrl" ng-click="appRate()">
      <i class="icon ion-ios-star-half"></i>
        Rate App
      </a>
      <a class="item settings-option" ng-controller="logOutCtrl" ng-click=doLogOut()>
       <i class="icon ion-ios-close-outline"></i>
        Sign Out
      </a>
    </div>
  </ion-content>
</ion-view>
