.feed-view
{
	.feed-cards-outer
	{
		.post-card-outer:last-child
		{
			padding-bottom: 16px;
		}
	}

	.card-1
	{
		padding: 16px 8px 0px 8px;
		background: $cards-list-bg;

		a
		{
			text-decoration: none;
		}

		.card-image-anchor
		{
			display: block;
		}

		.card
		{
			// margin: 16px 8px;
			margin: 0px;
		}

		.item-body
		{
			padding: $card-1-padding;
			border-bottom: none;
  		margin-bottom: 0px;
		}

		// $item-avatar-width is an ionic sass variable
		.item-avatar
		{
			padding: 0px $card-1-padding $card-1-padding ($item-avatar-width + $card-1-padding*2);
			border-top: none;
			border-bottom: none;
  		margin-top: 0px;
			min-height: ($item-avatar-width + $card-1-padding);

			.card-avatar-image-outer
			{
				width: $item-avatar-width;
				position: absolute;
				top: 0px;
				left: $card-1-padding;

				img
				{
					max-width: $item-avatar-width;
				  max-height: $item-avatar-width;
				  width: 100%;
				  height: 100%;
					border-radius: 2px;
				}
			}
		}

		.avatar-title
		{
			font-size: 14px;
			color: $card-1-color;
		}

		.avatar-description
		{
			font-size: 12px;
			color: rgba($card-1-color, .6);
		}

		.card-title
		{
			margin: 0px;
			font-size: 22px;
  		font-weight: 200;
			text-transform: capitalize;
			color: $card-1-color;
		}

		.card-tag
		{
			position: absolute;
			right: 0px;
			bottom: $card-1-padding;
			border-radius: 2px 0px 0px 2px;
			padding: 1px $card-1-padding;
		  font-size: 12px;
		  text-transform: uppercase;
		  font-weight: 600;
			max-width: 160px;
			text-overflow: ellipsis;
		  white-space: nowrap;
		  overflow: hidden;
		}

		.actions-brief
		{
			padding: $card-1-padding;
			padding-top: $card-1-padding/2;
			font-size: 12px;
			font-weight: 300;
		}

		@include cardActionTabs($card-1-actions-bg, $card-1-actions-color);

		.item.tabs
	  {
			background-image: none;

	    .tab-item
	    {
	      &.liked
	      {
	        color: $card-1-actions-activated-color;
	        font-weight: 500;
	      }
			}
		}
	}
}
