<ion-view class="auth-view" cache-view="false">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="row form-heading">
      <div class="col">
        <h1 class="form-title" ng-controller="CreateAccountCtrl">Welcome to MechanLink {{fname}}</h1>
        <h3 class="form-sub-title">Login to your account to start</h3>

      </div>
    </div>
    <div class="row form-separator">
      <hr class="separator-line"/>
      <span class="separator-mark"><i class="glyphicon ion-android-car"></i></span>
      <hr class="separator-line"/>
        </div>
    <div class="row form-wrapper"  ng-controller="authCtrl">
      <div class="col">
        <form name="login_form" class="" novalidate ng-controller="authCtrl">
          <div class="form-fields-outer list list-inset">
            <label class="item item-input">
              <input type="email" placeholder="Email" name="email" ng-model="user.email" required>
            </label>
            <label class="item item-input" show-hide-container>
              <input type="password" placeholder="Password" name="password" ng-model="user.password" required show-hide-input>
            </label>
            <button type="submit" class="login button button-large button-block" ng-click="doLogIn()" ng-disabled="login_form.$invalid">
              Login
            </button>

          </div>
        </form>
        <div class="alternative-actions">
          <a class="forgot-password button button-clear button-block" ng-click="showForgotPassword()">
            Forgot your password?
          </a>
        </div>


      </div>
    </div>
  </ion-content>

</ion-view>
