<div class="card-1" ng-cloak>
  <div class="list card">


    <div class="item item-body feedtitle-bg">
      <a ui-sref="app.post({ postId: post.id })">
        <h2 class="card-title">{{ post.title }}</h2>
      </a>
    </div>
    <div class="item locationwrap" ng-show="post.location !='undefined'">
      <a ui-sref="app.post({ postId: post.id })">
      <icon class="ion-location"> {{ post.location }}</icon>
    </a>
    </div>

    <div class="item item-avatar">
      <div class="card-avatar-image-outer">
        <a ui-sref="app.profile.posts({userId: post.user.id})">
          <pre-img ratio="_1_1" helper-class="avatar-image">
            <img ng-src="{{ post.photo }}" spinner-on-load>
          </pre-img>
        </a>
      </div>

      <p ui-sref="app.post({ postId: post.id })" class="avatar-description"><span am-time-ago="post.date"></span></p>
        <a ui-sref="app.category_feed({ categoryId: post.category.id })">
          <span class="card-tag post-category {{ post.category.slug }}">{{ post.category.name }}</span>
        </a>
    </div>
    <div class="actions-brief">
      <a ng-controller="CommentsCtrl" ng-click="showComments(post)" class="assertive light-bg button button-small button-icon">{{post.comments}} Comments</a>
      <a ng-controller="BiddsCtrl" ng-click="showBidds(post)" class="assertive light-bg button button-small button-icon">{{post.bidds}} Bidds</a>
    </div>


  </div>
</div>
