<ion-modal-view class="new-job-post-view">
  <ion-header-bar class="bar-positive">
    <div class="buttons">
	    <button class="button button-clear" ng-click="closeBuyCreditModal()">Cancel</button>
	  </div>
	  <h1 class="title">Buy Credit</h1>

  <div class="buttons">
	    <button class="button button-clear" ng-click="buyCreditGetHelp()"> <icon class="icon-left ion-help-circled"></icon></button>
	  </div>
    </ion-header-bar>
  <ion-content>

		<div class="row post-creation">
      <div class="col">

        <div class="paid-options">
          <label>
            <ion-checkbox checked="false" ng-click="doIAmMech"> Buy +10 Credits</ion-checkbox>
          </label>
          <label>
            <ion-checkbox checked="false" ng-click="doIAmMech"> Buy +25 Credits</ion-checkbox>
          </label>
          <label>
            <ion-checkbox checked="false" ng-click="doIAmMech"> Buy +30 Credits</ion-checkbox>
          </label>
          </div

      </div>
    </div>
      </div>


  </ion-content>

  <ion-footer-bar class="bar-stable centeralign">

    <div class="col-center ">  <button class="button button-icon icon ion-card icon-right" ng-click="postjob()"> Buy Credit</button></div>

  </ion-footer-bar>
</ion-modal-view>
