<div class="card-7">
  <div class="card" >
    <div class="row card-content-wrapper">

        <div class="col col-33 image-wrapper" ui-sref="app.post({ postId: post.id })">
        <a class="card-image-anchor" ui-sref="app.post({ postId: post.id })">
          <pre-img ratio="_1_1" helper-class="profile-post-image">
            <img class="post-image" ng-src="{{post.photo}}" spinner-on-load>
          </pre-img>
        </a>

      </div>
      <div class="col card-data">
        <a class="card-title-outer" ui-sref="app.post({ postId: post.id })">
          <h2 class="card-title">{{post.title}}</h2>
        </a>

        <div class="actions-brief">

          <a ng-controller="CommentsCtrl" ng-click="showComments(post)" class="assertive button-icon icon-left ion-chatbox-working button button-small">{{post.comments}}</a>
        <a ng-controller="BiddsCtrl" ng-click="showBidds(post)" class="assertive button-icon icon-left ion-ios-medical button button-small">{{post.bidds}}</a>
        <span class="midgetfont float-right"<a ng-controller="BiddsCtrl" am-time-ago="post.date" ui-sref="app.post({ postId: post.id })" class=" button-icon icon-left ion-clock button button-small">

        </a></span>


        </div>
      </div>



    </div>

  </div>
</div>
