<div class="reviews-list feed-view">
	<div class="customer-review row" ng-repeat="review  in current_post.reviews_list">
		<div class="col col-top col-usr-img">
			<!-- We need a wrapper with width set for the preload image directive -->
			<div class="user-image-outer">
				<a ng-click="navigateToUserProfile(review.user)">
					<pre-img ratio="_1_1" helper-class="square-image">
						<img class="user-image" ng-src="{{ review.user.photo }}" spinner-on-load>
					</pre-img>
				</a>
			</div>
		</div>
		<div class="col col-top">
			<div class="row user-data">
				<div class="col">
					<a class="name" ng-click="navigateToUserProfile(review.user)"><icon class="icon ion-person midgetfont" ng-if="!review.user.ismechanic"></icon><icon ng-if="review.user.ismechanic" class="icon ion-android-car midgetfont"></icon> {{ review.user.fname}} {{ review.user.lname }} <icon class="icon ion-minus calm midgetfont" ng-if="!review.user.isverified"></icon><icon ng-if="review.user.isverified" class="icon ion-plus calm midgetfont"></icon></a>
					<p class="review"><icon class="icon ion-thumbsup balanced midgetfont" ng-if="review.positive"></icon><icon ng-if="!review.positive" class="icon ion-thumbsdown royal midgetfont"></icon> {{ review.review }}</p>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="!current_post.reviews_list" class="row row-center empty-feed-outer">
		<div class="col">
			<i class="empty-feed-icon icon ion-sad-outline"></i>
			<h2 class="empty-feed-text"  ng-if="current_post.user.id == current_post.loggeduserid">None yet, do brilliant jobs and get positive reviews</h2>
			<h2 class="empty-feed-text" ng-if="current_post.user.id != current_post.loggeduserid">None yet, be the first to review this service</h2>
		</div>
	</div>


</div>
<div class="new-bidd-outer row row-center" ng-controller="ReviewsCtrl">
	<div class="col">
		<div class="item item-input-inset">
	    <label class="item-input-wrapper">
	      <textarea rows="6" placeholder="Write a review and rate the service" ng-model="newreview"></textarea>
	    </label>


<ul class="list">
  <li class="list-item" > <button class="send-bidd-button button button-small button-icon icon ion-thumbsup balanced-bg" ng-click="postPostiveReview(current_post)"> Good</button></li>

  <li class="list-item" > <button class="send-bidd-button button button-small button-icon icon ion-thumbsdown royal-bg" ng-click="postNegativeReview(current_post)"> Bad </button></li>
</ul>


	  </div>
	</div>
</div>
