<ion-modal-view class="checkin-job-post-view profile-view">
  <ion-header-bar class="bar-positive">
		<div class="buttons">
	    <button class="button button-clear" ng-click="closeSearchModal()">Cancel</button>
	  </div>
	  <h1 class="title">Search for {{searchmode}}</h1>
  </ion-header-bar>
  <ion-content>
    <div class="row google-search-bar">
      <div class="col">
        <div class="list list-inset">
          <label class="item item-input search-box">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input ng-model="searchterm_input" type="text" placeholder="Search by title, description or location" ng-change="searchForTerm(searchterm_input,1)" />
          </label>
        </div>
      </div>
        </div>
        <div class="centeralign row dark-bg" ng-if="totalSearchPages == 0 && searchterm_input.length >=2"><h4 class="light"><i class="empty-feed-icon icon ion-sad-outline"> </i> No match found!</4></div>

    <div ng-show="totalSearchPages > 0" class="row search-results">
      <div class="col">
        <div class="list">
          <a ng-repeat="result in searchterm_results" class="item row item-icon-left location-item" ng-click="selectSearchResult(result)">
            <div class="col col-25">
              <div class="user-image-outer">
                <pre-img ratio="_1_1" helper-class="square-image">
                  <img class="user-image" ng-src="{{result.photo}}" spinner-on-load>
                </pre-img>
              </div>
              <span class="midgetfont assertive centeralign" am-time-ago="result.date">  </span>
            </div>
            <div class="col">
            <h3 class="searchterm-title wordwrap">{{result.title}}</h3>
            <div class="midgetfont assertive" ng-if="result.location !='undefined'">{{result.location}}</div>
            <div class="searchterm-desc wordwrap">{{result.description}}</div>
            </div>

          </a>
        </div>
      </div>
    </div>
    <div ng-if="totalSearchPages == 0 || !totalSearchPages" class="row row-center no-results">
      <div class="col">
        <i class="search-hint-icon icon ion-ios-search"></i>
        <h2 class="search-hint-text">Search for {{searchmode}} by title, description or location</h2>
      </div>
    </div>
    <ion-infinite-scroll ng-if="moreDataCanBeLoadedSearchResult()" on-infinite="loadMoreDataForSearchTermResult('birming')" distance="2%">
    </ion-infinite-scroll>
  </ion-content>
</ion-modal-view>
