<div class="card-1">
  <div class="list card">


    <div class="item item-body feedtitle-bg">
      <a ui-sref="app.servicepost({ postId: card.id })">
        <h2 class="card-title">{{ card.title }}</h2>
      </a>
    </div>
    <div class="item item-image" >
      <a class="card-image-anchor" ui-sref="app.servicepost({ postId: card.id })">
        <pre-img ratio="_8_5" helper-class="main-image">
          <img ng-src="{{ card.photo }}" spinner-on-load>
        </pre-img>
      </a>
    </div>
    <div class="item locationwrap">
      <a ui-sref="app.servicepost({ postId: card.id })">
      <icon class="ion-location"> {{ card.location }}</icon>
      </a>
    </div>
    <div class="item item-avatar">
      <div class="card-avatar-image-outer">
        <a ui-sref="app.profile.services({userId: card.user.id})">
          <pre-img ratio="_1_1" helper-class="avatar-image">
            <img ng-src="{{ card.user.photo }}" spinner-on-load>
          </pre-img>
        </a>
      </div>
      <a ui-sref="app.profile.services({userId: card.user.id})">
        <h2 class="avatar-title"><icon class="icon ion-person midgetfont" ng-if="!card.user.ismechanic"></icon><icon ng-if="card.user.ismechanic" class="icon ion-android-car midgetfont"></icon> {{ card.user.fname }} {{ card.user.lname }} <icon class="icon ion-minus calm midgetfont" ng-if="!card.user.isverified"></icon><icon ng-if="card.user.isverified" class="icon ion-plus calm midgetfont"></icon></h2>
      </a>
      <p class="avatar-description" ui-sref="app.profile.services({userId: card.user.id})"><span am-time-ago="card.date"></span></p>
        <a ui-sref="app.servicecategory_feed({ categoryId: card.category.id })">
          <span class="card-tag post-category {{ card.category.slug }}">{{ card.category.name }}</span>
        </a>
    </div>
    <div class="actions-brief">
      <!-- <a ng-controller="CommentsCtrl" ng-click="showComments(card)" class="assertive light-bg button button-small">{{card.comments}} Comments</a> -->
      <a ng-controller="ReviewsCtrl" ng-click="showReviews(card)" class="assertive light-bg button button-small">{{card.reviews}} Reviews</a>
    </div>
    <div class="item tabs tabs-icon-left">

      <!-- <a class="tab-item" ng-controller="CommentsCtrl" ng-click="showComments(card)">
        <i class="icon theme-icon icon-chat-3"></i>
        Comment
      </a> -->
      <a class="tab-item" ng-class="{bidded: card.reviewed}"  ng-controller="ReviewsCtrl" ng-click="showReviews(card)">
        <i class="icon theme-icon icon-thumb-up"></i>
        Review
      </a>
      <a class="tab-item" >
        <i class="icon theme-icon ion-android-call"></i>
        Call
      </a>

    </div>
  </div>
</div>
