
<div class="bidds-list feed-view" ng-controller="BiddsCtrl">
	<div class="mechanics-bidd row" ng-repeat="bidd in current_post.bidds_list">
		<div class="col col-top col-usr-img">
			<!-- We need a wrapper with width set for the preload image directive -->
			<div class="user-image-outer">
				<a ng-click="navigateToUserProfile(bidd.user)">
					<pre-img ratio="_1_1" helper-class="square-image">
						<img class="user-image" ng-src="{{ bidd.user.photo }}" spinner-on-load>
					</pre-img>
				</a>
			</div>
		</div>
		<div class="col col-top">
			<div class="row user-data" >
				<div class="col">
					<a class="name" ng-click="navigateToUserProfile(bidd.user)"><icon class="icon ion-person midgetfont" ng-if="!bidd.user.ismechanic"></icon><icon ng-if="bidd.user.ismechanic" class="icon ion-android-car midgetfont"></icon> {{ bidd.user.fname }} {{ bidd.user.lname }} <icon class="icon ion-minus calm midgetfont" ng-if="!bidd.user.isverified"></icon><icon ng-if="bidd.user.isverified" class="icon ion-plus calm midgetfont"></icon></a>
					<div class="assertive row"> <div class="col-50"><b><icon class="tempicon">£ </icon> {{ bidd.amount }}</b></div><div class="col-50 midgetfont"><icon class="icon ion-clock"></icon> <span  am-time-ago="bidd.created_at"></span></div></div>
					<p class="bidd">{{ bidd.proposal }}</p>
				</div>
				<button class="button button-icon icon assertive ion-checkmark-circled button-small" ng-if="(current_post.user.id == loggedUserData.id) && acceptedbid =='null'" ng-click="acceptBid(bidd,post)"></button>
				<button class="button button-icon icon assertive ion-ios-close-outline button-small" ng-if="bidd.user.id == loggedUserData.id" ng-click="deleteBidd(bidd)"></button>

			</div>
		</div>
	</div>
	<div  class="row row-center empty-feed-outer" ng-show="!current_post.bidds_list" >
		<div class="col">
			<i class="empty-feed-icon icon ion-sad-outline"></i>
			<h2 class="empty-feed-text" ng-if="loggedUserData.ismechanic == 0 && current_post.user.id == loggedUserData.id">None yet, mechanics will soon start bidding on your job</h2>
			<h2 class="empty-feed-text"  ng-if="current_post.user.id == loggedUserData.id && loggedUserData.ismechanic == 1">None yet, other mechanics will soon start bidding on your job</h2>
			<h2 class="empty-feed-text" ng-if="loggedUserData.ismechanic == 1 && current_post.user.id != loggedUserData.id">None yet, be the first to bid on this job</h2>
<h2 class="empty-feed-text" ng-show="loggedUserData.ismechanic == 0 && current_post.user.id != loggedUserData.id">No mechanic has bidded on this job yet</h2>
		</div>
	</div>
</div>



<!-- Wrap holding the accepted bid if any -->
<div class="accepted-bid-outer feed-view"  ng-show="showacceptedbid">
	<!-- call For job owner i.e call mechanic-->
<a  ng-href="tel: {{acceptedbid.bidder.phone}}" ng-if="current_post.user.id == loggedUserData.id">
<div class="item item-stable">
<icon class="icon  ion-android-call "> Call {{ acceptedbid.bidder.fname}}</icon>

</div>
</a>

<!-- call For job winner i.e call job owner -->
<a  ng-href="tel: {{current_post.user.phone}}" ng-if="acceptedbid.bidder.id == loggedUserData.id">
<div class="item item-stable">
<icon class="icon  ion-android-call "> Call {{ current_post.user.fname}}</icon>

</div>
</a>
<!-- For job owner -->
<div class="mechanics-bidd row" ng-if="current_post.user.id == loggedUserData.id">
		<div class="col col-top col-usr-img">
			<!-- We need a wrapper with width set for the preload image directive -->
			<div class="user-image-outer">
				<a ng-click="navigateToUserProfile(acceptedbid.bidder)">
					<pre-img ratio="_1_1" helper-class="square-image">
						<img class="user-image" ng-src="{{ acceptedbid.bidder.photo }}" spinner-on-load>
					</pre-img>
				</a>
			</div>
		</div>
		<div class="col col-top">
			<div class="row user-data" >
				<div class="col">
					<a class="name" ng-click="navigateToUserProfile(acceptedbid.bidder)"><icon class="icon ion-person midgetfont" ng-if="!acceptedbid.bidder.user.ismechanic"></icon><icon ng-if="acceptedbid.bidder.user.ismechanic" class="icon ion-android-car midgetfont"></icon> {{ acceptedbid.bidder.fname }} {{ acceptedbid.bidder.lname }} <icon class="icon ion-minus calm midgetfont" ng-if="!acceptedbid.user.isverified"></icon><icon ng-if="acceptedbid.user.isverified" class="icon ion-plus calm midgetfont"></icon></a>
					<div class="assertive row"> <div class="col-50"><b><icon class="tempicon">£ </icon> {{ acceptedbid.bid.amount }}</b></div><div class="col-50 midgetfont"><icon class="icon ion-clock"></icon> <span  am-time-ago="acceptedbid.bid.created_at"></span></div></div>
					<p class="bidd">{{ acceptedbid.bid.proposal }}</p>
				</div>

				<button class="button button-icon icon assertive ion-ios-close-outline button-small" ng-if="current_post.user.id == loggedUserData.id" ng-click="rejectAcceptedBid(acceptedbid,post)"></button>


			</div>
		</div>
	</div>

	<!-- For job winner -->
	<div class="mechanics-bidd row" ng-if="acceptedbid.bidder.id == loggedUserData.id">

			<div class="col col-top col-usr-img">
				<!-- We need a wrapper with width set for the preload image directive -->
				<div class="user-image-outer">
					<a ng-click="navigateToUserProfile(current_post.user)">
						<pre-img ratio="_1_1" helper-class="square-image">
							<img class="user-image" ng-src="{{ current_post.user.photo }}" spinner-on-load>
						</pre-img>
					</a>
				</div>
			</div>
			<div class="col col-top">
				<div class="row user-data" >
					<div class="col">
						<a class="name" ng-click="navigateToUserProfile(current_post.user)"><icon class="icon ion-person midgetfont" ng-if="!current_post.user.ismechanic"></icon><icon ng-if="current_post.user.ismechanic" class="icon ion-android-car midgetfont"></icon> {{ current_post.user.fname }} {{ current_post.user.lname }} <icon class="icon ion-minus calm midgetfont" ng-if="!current_post.user.isverified"></icon><icon ng-if="current_post.user.isverified" class="icon ion-plus calm midgetfont"></icon></a>

						<div class="assertive row"><div class="col-50"><b><icon class="tempicon"> £</icon>{{ acceptedbid.bid.amount }}</b></div><div class="col-50 midgetfont"><icon class="icon ion-clock"></icon> <span  am-time-ago="acceptedbid.bid.created_at"></span></div></div>
						<p class="bidd">{{ acceptedbid.bid.proposal }}</p>
					</div>

					<!--<button class="button button-icon icon assertive ion-ios-close-outline button-small" ng-if="current_post.user.id == loggedUserData.id" ng-click="rejectAcceptedBid(acceptedbid,post)"></button> -->


				</div>
			</div>
		</div>


</div>

<!-- end of accepted bid wrap -->


<div class="new-bidd-outer row row-center" ng-if="loggedUserData.ismechanic == 1 && current_post.user.id != loggedUserData.id && current_post.bidded == false" ng-controller="BiddsCtrl">


<!-- Wrap for submitting bid -->
	<div class="col">

		<div class="item item-input-inset">
	    <label class="item-input-wrapper">
	      <textarea rows="6" placeholder="Write a proposal and enter an amount" ng-model="bidproposal" ></textarea>
	    </label>


<ul class="list">
	<li class="list-item bidd-amount-wrapper">
   <icon class="tempicon">£</icon><input type="number" placeholder="Amount" class="bidd-amount" ng-model="bidamount"></input>

</li>
  <li class="list-item" > <button class="send-bidd-button button button-icon icon ion-paper-airplane" ng-click="postBid(post)" ng-disabled="bidamount.length < 2 || bidamount.length == 0 || bidproposal.length == 0 || bidproposal.length <10"> Bid</button></li>
</ul>


	  </div>
	</div>
</div>
