<div class="comments-list feed-view">
 <div class="mechanics-comment row" ng-repeat="comment in current_post.comments_list">
		<div class="col col-top col-usr-img">
			<div class="user-image-outer">
				<a ng-click="navigateToUserProfile(comment.user)">
					<pre-img ratio="_1_1" helper-class="square-image">
						<img class="user-image" ng-src="{{ comment.user.photo }}" spinner-on-load>
					</pre-img>
				</a>
			</div>
		</div>
		<div class="col col-top">
			<div class="row user-data">
				<div class="col">
					<b><a class="name assertive" ng-click="navigateToUserProfile(comment.user)"> <icon class="icon ion-person midgetfont" ng-if="!comment.user.ismechanic"></icon><icon ng-if="comment.user.ismechanic" class="icon ion-android-car midgetfont"></icon> {{ comment.user.fname }} {{ comment.user.lname }} <icon class="icon ion-minus calm midgetfont" ng-if="!comment.user.isverified"></icon><icon ng-if="comment.user.isverified" class="icon ion-plus calm midgetfont"></icon></a></b>
						<div class="assertive midgetfont "> <icon class="icon ion-clock"> </icon> <span  am-time-ago="comment.created_at"></span></div>
					<p class="comment">{{ comment.comment }}</p>

				</div>
			</div>
		</div>
<button class="button assertive button-icon icon ion-ios-close-outline col-top" ng-if="comment.user.id == loggedUserData.id" ng-click="deleteComment(comment)" ></button>
	</div>


	<div ng-if="!current_post.comments_list" class="row row-center empty-feed-outer">
		<div class="col">
			<i class="empty-feed-icon icon ion-sad-outline"></i>
			<h2 class="empty-feed-text"  ng-if="current_post.user.id == loggedUserData.id">None yet, you can leave a comment on your job</h2>
			<h2 class="empty-feed-text" ng-if="current_post.user.id != loggedUserData.id">None yet, be the first to leave a comment</h2>
		</div>
	</div>
</div>
<div class="new-comment-outer row row-center" ng-controller="CommentsCtrl">
	<div class="col">
		<div class="item item-input-inset">
	    <label class="item-input-wrapper">
				<textarea msd-elastic="\n" placeholder="Write a comment" ng-model="newcomment"></textarea>
	    </label>
			<button class="send-comment-button button button-icon icon ion-paper-airplane" ng-click="postComment(post)" ng-disabled="newcomment.length < 5"></button>
	  </div>
	</div>
</div>
