<div class="card-1">
  <div class="list card">
    <div class="item item-body feedtitle-bg">
      <a ui-sref="app.post({ postId: post.id })">
        <h2 class="card-title">{{ post.title }}</h2>
      </a>
    </div>
    <div class="item item-image" >
      <a class="card-image-anchor" ui-sref="app.post({ postId: post.id })">
        <pre-img ratio="_8_5" helper-class="main-image">
          <img ng-src="{{ post.photo }}" spinner-on-load>
        </pre-img>
      </a>
    </div>

    <div class="item item-body locationwrap" ng-show="post.location !='undefined'">
      <a ui-sref="app.post({ postId: post.id })">
      <icon class="ion-location"> </icon> {{ post.location }}
      </a>
    </div>

    <div class="item item-avatar">
      <div class="card-avatar-image-outer">
        <a ui-sref="app.profile.posts({userId: post.user.id})">
          <pre-img ratio="_1_1" helper-class="avatar-image">
            <img ng-src="{{ post.user.photo }}" spinner-on-load>
          </pre-img>
        </a>
      </div>
      <a ui-sref="app.profile.posts({userId: post.user.id})">
        <h2 class="avatar-title"><icon class="icon ion-person midgetfont" ng-if="!post.user.ismechanic"></icon><icon ng-if="post.user.ismechanic" class="icon ion-android-car midgetfont"></icon> {{ post.user.fname }} {{ post.user.lname }} <icon class="icon ion-minus calm midgetfont" ng-if="!post.user.isverified"></icon><icon ng-if="post.user.isverified" class="icon ion-plus midgetfont calm"></icon></h2>
      </a>
      <p class="avatar-description"><span am-time-ago="post.date"></span></p>
        <a ui-sref="app.category_feed({ categoryId: post.category.id })">
          <span class="card-tag post-category {{ post.category.slug }}">{{ post.category.name }}</span>
        </a>
    </div>
    <div class="actions-brief">
      <a ng-controller="CommentsCtrl" ng-click="showComments(post)" class="assertive light-bg button button-small button-icon">{{post.comments}} Comments</a>
      <a ng-controller="BiddsCtrl" ng-click="showBidds(post)" class="assertive light-bg button button-small button-icon">{{post.bidds}} Bids</a>
    </div>






    <div class="item tabs tabs-icon-left">

      <a class="tab-item" ng-controller="CommentsCtrl" ng-click="showComments(post)">
        <i class="icon theme-icon icon-chat-3"></i>
        Comment
      </a>

      <a class="tab-item" ng-class="{bidded: post.bidded}"  ng-controller="BiddsCtrl" ng-click="showBidds(post)" ng-show="loggedUser.ismechanic==1">
        <i class="icon theme-icon ion-ios-medical"></i>
        Bidd
      </a>
    </div>
  </div>
</div>
