<ion-modal-view class="new-job-post-view">
  <ion-header-bar class="bar-positive">
    <div class="buttons">
	    <button class="button button-clear" ng-click="new_job_post_modal.hide()">Cancel</button>
	  </div>
	  <h1 class="title" ng-if="!job_post.editmode">Post a job </h1>
    <h1 class="title" ng-if="job_post.editmode">Edit a job </h1>
  <!-- <div class="buttons">
	    <button class="button button-clear" ng-click="postGetHelp()"> <icon class="icon-left ion-help-circled"></icon></button>
	  </div> -->
    </ion-header-bar>
  <ion-content>

    <div class="row audience-outer">
      <div class="col">
    		<div class="list post-audience">
    		  <label class="item item-input item-select select-box">
    		    <div class="input-label">
    		      <span>Job Category: </span>

    		    </div>
    		    <select ng-model="job_post.category" class="selected-audience">
              <option value="null" selected>Select job category</option>
              <option value="0">Lights</option>
              <option value="1">Brakes</option>
              <option value="2">Electrical</option>
              <option value="3">Engine</option>
              <option value="4">Exterior</option>
              <option value="5">Interior</option>
              <option value="6">Heating & AC</option>
              <option value="7">Steering</option>
    		      <option value="8">Tires</option>
    		      <option value="9">Transmission</option>
              <option value="10">Painting</option>
              <option value="11">Modification</option>
    		    </select>
    		  </label>
    		</div>
  		</div>
		</div>
		<div class="row post-creation">
      <div class="col">
        <div class="google-search-bar post-title">
          <div class="col" >
              <label class="item item-input">
                <input ng-model="job_post.title" type="text" placeholder="Enter job title"/>
              </label>

          </div>
        </div>
        <div class="row post-text">
    			<div class="col usr-img-wrapper">
    				<pre-img ratio="_1_1" helper-class="avatar-image">
    					<img ng-src="{{loggedUser.photo}}" spinner-on-load ng-if="!job_post.editmode">
              <img ng-src="{{post.user.photo}}" spinner-on-load ng-if="job_post.editmode">
    				</pre-img>
    			</div>
          <div class="col textarea-outer">
            <div class="row location-outer" ng-if="job_post.location">
              <div class="col">
                <span><b>{{loggedUser.fname}} {{post.user.fname}}</b>, you are at <b ng-click="checkinJobPost()">{{job_post.location}}</b></span>
              </div>
            </div>
      			<div class="row textarea-wrapper">
              <div class="col">
        				<textarea msd-elastic="\n" ng-model="job_post.description" placeholder="Write the problem with your vehicle, then add a photo and location..."></textarea>
        			</div>
      			</div>
          </div>
        </div>

        <div class="row post-images-outer" ng-show="job_post.images.length > 0">
          <div class="col post-images-wrapper">
            <div class="post-image" ng-repeat="img in job_post.images">
              <div class="row">
                <div class="col">
                  <div class="item item-image">
                    <img ng-src="{{img}}">
                  </div>
                  <a class="button button-icon light icon ion-trash-b remove-image-btn" ng-click="removeImage(img)"></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row add-photos-location-outer">
          <div class="col">
            <button class="button button-block button-outline icon-left ion-camera" ng-click="openImagePicker()">
              Add Photos
            </button>
          </div>
        </div>
        <div class="row add-photos-location-outer" >
          <div class="col">
            <button class="button button-block button-outline icon-left ion-location" ng-click="checkinJobPost()">
              Add Location
            </button>
          </div>
        </div>
        <!-- <div class="paid-options">
          <div class="item item-divider" ng-click="showPaidOptions = !showPaidOptions">
            <i class="icon ion-grid"></i> Paid Options <span class="float-right"><i class="icon ion-arrow-up-b" ng-show="!showPaidOptions"></i><i class="icon ion-arrow-down-b" ng-show="showPaidOptions"></i>
          </div>

          <ion-list radio-group ng-model="job_post.paid_option" ng-if="showPaidOptions">
            <ion-item>
              <ion-radio value="0" ng-model="job_post.paid_option">Urgent for 30 Days (-5cr)</ion-radio>
            </ion-item>

            <ion-item>
              <ion-radio value="1" ng-model="job_post.paid_option">Urgent for 15 Days (-3cr)</ion-radio>
            </ion-item>

            <ion-item>
              <ion-radio value="2" ng-model="job_post.paid_option">Invite Pro. Mechanics (-5cr)</ion-radio>
            </ion-item>

            <ion-item>
              <ion-radio value="null" ng-model="job_post.paid_option">None</ion-radio>
            </ion-item>

          </ion-list>
        </div> -->

      </div>
    </div>
      </div>


  </ion-content>

  <ion-footer-bar class="bar-stable centeralign">
    <!-- <span>  <button ng-class="{'selected-action': (job_post.images.length > 0)}" class="button button-icon icon ion-camera" ng-click="openImagePicker()"></button></span>
      <span>  <button ng-class="{'selected-action': (job_post.location)}" class="button button-icon icon ion-location" ng-click="checkinJobPost()"></button></span>
      <span >  <button ng-class="{'selected-action': (job_post.images.length > 0)}" class="button button-icon icon ion-card" ng-click="openImagePicker()"> 25</button></span>

    -->
  <button class="button button-icon icon ion-hammer icon-right" ng-click="uploadImageJob()" ng-if="!job_post.editmode"> Post Job </icon></button>
<button class="button button-icon icon ion-hammer icon-right" ng-click="uploadImageUpdateJob(post)" ng-if="job_post.editmode"> Update Job </icon></button>
  </ion-footer-bar>
</ion-modal-view>
