<div class="card-7">
  <div class="card">
    <div class="row card-content-wrapper">
      <div class="col col-33 image-wrapper">
        <a class="card-image-anchor" ui-sref="app.servicepost({ postId: service.id })">
          <pre-img ratio="_1_1" helper-class="profile-post-image">
            <img class="post-image" ng-src="{{service.photo}}" spinner-on-load>
          </pre-img>
        </a>
      </div>

      <div class="col card-data">
        <a class="card-title-outer" ui-sref="app.servicepost({ postId: service.id })">
          <h2 class="card-title">{{service.title}}</h2>
        </a>

        <div class="actions-brief">
<!-- <a ng-controller="CommentsCtrl" ng-click="showComments(service)" class="assertive button-icon icon-left ion-chatbox-working button button-small">{{service.comments}} Comments</a> -->

          <a ng-controller="ReviewsCtrl" ng-click="showReviews(service)" class="assertive button-icon icon-left ion-thumbsup button button-small">Reviews {{service.reviews}} </a>


        </div>
      </div>
    </div>
  </div>
</div>
