<ion-view class="feed-view" ng-class="{'filtered-feed': (is_trend_feed || is_category_feed)}" cache-view="true" ng-cloak>
  <ion-nav-title ng-controller="NewPostCtrl">
    <span ng-if="is_category_feed">{{ current_category.name }}  Jobs <button ng-click="showJobSearchModal()" class="button button-small button-icon icon ion-search light"></button></span>
  <span ng-if="!is_trend_feed && !is_category_feed">Home  <button ng-click="showJobSearchModal()" class="button button-small button-icon icon ion-search light"></button> </span>
  <span class="float-right button button-outline" ng-if="lt" ui-sref="app.profile.notifications({userId: currentUserId})"><span><i class="icon  energized ion-android-notifications"></i> <span class="balanced theme-icon">{{lt}}</span> </span></span>

  </ion-nav-title>
  <ion-content>
    <!-- Refresh to get the new posts -->
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="getNewData()">
    </ion-refresher>

    <div ng-if="is_trend_feed || is_category_feed" class="row filtered-feed-header-outer">
      <div ng-if="is_category_feed" class="col filtered-feed-header">
        <div multi-bg="[current_category.image]" interval="3000" helper-class="category-with-image">
          <div class="filtered-feed-header-content">
            <h2 class="header-title">{{ current_category.name }}</h2>
          </div>
        </div>
      </div>
      <div ng-if="is_trend_feed" class="col filtered-feed-header">
        <div multi-bg="[current_trend.image]" interval="3000" helper-class="category-with-image">
          <div class="filtered-feed-header-content">
            <h2 class="header-title">{{ current_trend.name }}</h2>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="!is_trend_feed && !is_category_feed" id="scrollTop" ng-controller="NewPostCtrl" class="card new-post">
      <div class="item item-avatar">
        <div class="card-avatar-image-outer">
          <pre-img ratio="_1_1" helper-class="avatar-image">
            <img ng-src="{{loggedUser.photo}}" spinner-on-load>
          </pre-img>
        </div>
        <a class="new-post-call-to-action" ng-click="newJobPost()">
          <h3 class="new-post-copy">Write the problem with your vehicle...</h3>
        </a>
      </div>
      <div class="item tabs tabs-icon-left">
        <a class="tab-item" ng-click="newJobPost()">
        <span class="cardbutton">  <i class="icon ion-hammer"></i>
          Post Job</span>
        </a>

        <a class="tab-item" ng-click="newImageJobPost()">
        <span class="cardbutton">  <i class="icon ion-camera"></i>
          Add Photos</span>
        </a>
        <a class="tab-item" ng-click="checkinJobPost()">
          <span class="cardbutton"><i class="icon ion-location"></i>
          Pin Location</span>
        </a>

      </div>
    </div>

<div class="myactive-job-feed " ng-if="!is_trend_feed && !is_category_feed">
  <div class="item item-divider">

  </div>
  <div class="item" ng-click="showmyactivejob = !showmyactivejob">
    <i class="icon ion-grid"></i> My Active Jobs <span ng-show="!activeJobsCards.error">[ {{activeJobsCards.length}} ] </span> <span class="float-right"><i class="icon ion-arrow-up-b" ng-if="!showmyactivejob"></i><i class="icon ion-arrow-down-b" ng-if="showmyactivejob"></i></span>
  </div>
<div ng-if="showmyactivejob">
  <div class="centeralign"> <i class="icon ion-ios-arrow-thin-left"> </i> <span class="midgetfont"> swipe </span> <i class="icon ion-ios-arrow-thin-right"> </i> </div>
   <ion-slides ng-cloak>
     <slide class="swiper-slide activejobwrap" ng-if="activeJobsCards.length > 0" ng-repeat="post in activeJobsCards" class="post-card-outer">
  <section ng-include="'views/app/partials/active-jobs-card.html'" class="post-card-outer"></section>
  </slide>

</ion-slides>

<div ng-if="activeJobsCards.error" class="row row-center empty-feed-outer">
  <div class="col">
    <i class="empty-feed-icon icon ion-sad-outline"></i>
    <h2 class="empty-feed-text">You have no active jobs yet, post a job now</h2>
  </div>
</div>
</div>
</div>

    <div class="feed-cards-outer" >
      <div class="item" ng-click="showjobfeeds = !showjobfeeds" ng-show="!is_trend_feed && !is_category_feed">
        <i class="icon ion-social-rss"></i> Job Feed  <span class="float-right"><i class="icon ion-arrow-up-b" ng-if="showjobfeeds"></i><i class="icon ion-arrow-down-b" ng-if="!showjobfeeds"></i></span>
      </div>

<div ng-if="!showjobfeeds">
      <div ng-if="cards.length > 0" ng-repeat="post in cards" class="post-card-outer">
         <section ng-include="'views/app/partials/feed-post-card.html'" class="post-card-outer"></section>
      <!--  <section ng-include="'views/app/partials/feed-post-card.html'"></section>-->
      </div>
      <div ng-if="!cards.length" class="row row-center empty-feed-outer">
        <div class="col">
          <i class="empty-feed-icon icon ion-sad-outline"></i>
          <h2 class="empty-feed-text">No job posts here, swipe up to refresh</h2>
        </div>
      </div>
    </div>
    </div>

    <!-- Infinit scroll for job feed -->
    <div ng-if="!showjobfeeds">
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="2%">
    </ion-infinite-scroll>
  </div>

  <!-- Infinite scroll for job feed based on category -->
    <div ng-if="is_category_feed">

  <ion-infinite-scroll ng-if="moreDataCanBeLoadedForCategory()" on-infinite="loadMoreDataForJobCategory()" distance="2%">
  </ion-infinite-scroll>
</div>

  </ion-content>

  <ion-footer-bar class="bar-transparent centeralign" ng-if="newPostAvailable && !is_category_feed" ng-click="refreshFeed()">
<button class=" button assertive centeralign"> <i class="icon ion-load-c"> </i> New posts available</button>
</ion-footer-bar>

</ion-view>
