<ion-modal-view class="profile-view new-status-post-view" ng-controller="editProfileCtrl">
  <ion-header-bar class="bar-positive">
    <div class="buttons">
	    <button class="button button-clear" ng-click="closeEditProfileModal()">Cancel</button>
	  </div>
	  <h1 class="title">Edit Profile</h1>
<!--
  <div class="buttons">
	    <button class="button button-clear" ng-click="GetHelp()"> <icon class="icon-left ion-help-circled"></icon></button>
	  </div> -->
    </ion-header-bar>
  <ion-content>
    <div class="row centeralign">
    <div class="col col-center col-25">
      <!-- A wrapper with width set for the preload image directive -->
      <div class="user-image-outer">
        <pre-img ratio="_1_1" helper-class="rounded-image">
          <img class="user-image" ng-src="{{loggedUserData.photo}}" spinner-on-load>
        </pre-img>
      </div>
    </div>
    <button class="button-small button-icon assertive" ng-click="openImagePicker()">Change Picture</button>
  </div>
    <div class="row form-wrapper">
        <div class="col">
        <form name="signup_form" class="" novalidate>
          <div class="form-fields-outer list list-inset">
            <div class="item item-divider theme-icon">
              <strong>Personal Details</strong>
            </div>
            <div class="row multi-inputs">
              <div class="col">
                <label class="item item-input">
                  <input class="multi-input" type="text" placeholder="First Name" name="fname" ng-model="loggedUserData.fname" required>
                </label>
              </div>
              <div class="col">
                <label class="item item-input">
                  <input class="multi-input" type="text" placeholder="Last Name" name="lname" ng-model="loggedUserData.lname" required>
                </label>
              </div>
            </div>
            <label class="item item-input">About:
            <span class="col-offset-10 col"> <textarea msd-elastic="\n" placeholder="Introduce yourself" ng-model="loggedUserData.about" name="about" required></textarea>
            </span></label>
            <label class="item item-input">Address:
          <span class="col-offset-10 col">   <textarea msd-elastic="\n" placeholder="Street address" ng-model="loggedUserData.address" name="address" required></textarea>
          </span>  </label>

            <div class="item item-divider theme-icon">
              <strong>Contact Details</strong>
            </div>

            <div class="row multi-inputs">
            <div class="col-80">
                <label class="item item-input">Website:
                <span class="col-offset-10">  <input type="text"  placeholder="wwww.example.com" name="website" ng-model="loggedUserData.website">
              </span>  </label>
              </div>

            </div>

            <div class="row multi-inputs">
            <div class="col-80">
                <label class="item item-input">Phone:
                <span class="col-offset-10">  <input type="tel"  placeholder="Phone Number" name="phone" ng-model="loggedUserData.phone" ng-readonly="updatePhone" required>
              </span>  </label>
              </div>
              <div class="col">
                    <button class="button-small theme-icon button-icon assertive" ng-click="updatePhone()">Change</button>
              </div>
            </div>

            <div class="row multi-inputs">
            <div class="col-80">
            <label class="item item-input">Email:
              <span class="col-offset-10">  <input type="email" placeholder="Email" name="email" ng-model="loggedUserData.email" ng-readonly="updateEmail" required>
          </span>  </label>
          </div>
          <div class="col">
                <button class="button-small theme-icon button-icon assertive" ng-click="updateEmail()">Change</button>
          </div>
        </div>

          </div>
        </form>
      </div>
    </div>




  </ion-content>

  <ion-footer-bar class="bar-stable centeralign">

    <div class="col-center ">    <button type="submit" class="sign-up button button-icon icon ion-person icon-right" ng-click="updateProfile()">
        Update Profile
      </button></div>

  </ion-footer-bar>
</ion-modal-view>
