<ion-view class="profile-posts profile-sub-view" view-title="Profile">
  <div ng-repeat="service in user.services" class="profile-post-item">
    <section ng-include="'views/app/partials/profile-services-card.html'" class="post-card-outer"></section>
  </div>
</ion-view>
