<ion-view class="profile-following profile-sub-view feed-view" view-title="Notifications [{{notifications.length}}]" ng-controller="notificationCtrl">
<ion-content>
  <div class="paddingbottomsixty">
  <ion-list class="contacts-list" can-swipe="true" overflow-scroll="true">
    <ion-item class="contact-item item-avatar" ng-if="notifications.length > 0" ng-repeat="notification in notifications">
      <div class="item-content-wrapper">
        <div class="user-image-outer" ng-click="navigateToUserProfile(notification.trigger_user)">
          <pre-img ratio="_1_1" helper-class="square-image">
            <img class="user-image" ng-src="{{notification.trigger_user.photo}}" spinner-on-load>
          </pre-img>
        </div>
        <div class="row contact-main first-row">
          <div class=" contact-description" >
            <div class="name" ><span ng-click="navigateToUserProfile(notification.trigger_user)"><icon class="icon ion-person" ng-if="!notification.trigger_user.ismechanic"></icon><icon ng-if="notification.trigger_user.ismechanic" class="icon ion-android-car"></icon><strong> {{ notification.trigger_user.fname }} {{ notification.trigger_user.lname }}</strong> <icon class="icon ion-minus calm" ng-if="!notification.trigger_user.isverified"></icon><icon ng-if="notification.trigger_user.isverified" class="icon ion-plus calm"> </icon></span>
<span class="about-user" ng-if="notification.notification_type == 1" ui-sref="app.post({ postId: notification.reference_id })"> bidded on your job</span>
<span class="about-user" ng-if="notification.notification_type == 2" ui-sref="app.post({ postId: notification.reference_id })"> commented on your job</span>
<span class="about-user" ng-if="notification.notification_type == 3" ui-sref="app.servicepost({ postId: notification.reference_id })"> reviewed your service</span>
<span class="about-user" ng-if="notification.notification_type == 4" ng-click="navigateToUserProfile(notification.trigger_user)"> trusted your profile</span>
<span class="about-user" ng-if="notification.notification_type == 5" ng-click="navigateToUserProfile(notification.trigger_user)"> accepted your bid</span>
<span class="about-user" ng-if="notification.notification_type == 6" ng-click="navigateToUserProfile(notification.trigger_user)"> rejected your bid</span>
            </div>
        <p class="about-user" ng-if="notification.notification_type == 1" ui-sref="app.post({ postId: notification.reference_id })">{{notification.message}} </p>
        <p class="about-user" ng-if="notification.notification_type == 2" ui-sref="app.post({ postId: notification.reference_id })">{{notification.message}} </p>
        <p class="about-user" ng-if="notification.notification_type == 3" ui-sref="app.servicepost({ postId: notification.reference_id })">{{notification.message}} </p>
        <p class="about-user" ng-if="notification.notification_type == 5" ui-sref="app.post({ postId: notification.reference_id })">{{notification.message}} </p>
        <p class="about-user" ng-if="notification.notification_type == 6" ui-sref="app.post({ postId: notification.reference_id })">{{notification.message}} </p>
      </div>

        </div>

      </div>
      <ion-option-button class="unfollow-button" ng-click="removeNotification(notification)" >Clear</ion-option-button>
    </ion-item>

  </ion-list>
</div>
  <div ng-if="!notifications.length" class="row row-center empty-feed-outer">
    <div class="col">
      <i class="empty-feed-icon icon ion-sad-outline"></i>
      <h2 class="empty-feed-text">No notifications available </h2>
    </div>
  </div>
  </ion-content>
  <ion-footer-bar class="bar-stable centeralign" ng-if="notifications.length > 0">

  <div class="col-center " >  <button class="button button-icon icon ion-android-cancel icon-right" ng-click="removeAllNotification()" ng-controller="NewPostCtrl"> </icon> Clear All Notifications </button></div>
  </ion-footer-bar>

</ion-view>
