<ion-view view-title="Job: {{post.title}}" class="post-details-view" cache-view="false">
  <ion-content overflow-scroll="true">
    <div class="post-card-content">
      <div class="item item-image">

          <ion-slides>
           <slide class="swiper-slide" options="sliderOptions" slider="swiper">
            <pre-img ratio="_1_1" helper-class="main-image">

              <img ng-src="{{post.photo}}" spinner-on-load>
            </pre-img>
          </slide>

        </ion-slides>



      </div>



      <!-- trend call out
      <div class="item item-divider trend-callout">
        <span class="post-trend-copy">Catch up with this trend</span>
        <a class="trend-wrapper button button-small" ui-sref="app.trend_feed({ trendId: post.trend.id })">
          <i class="icon ion-arrow-graph-up-right"></i>
          <span class="post-trend">{{ post.trend.name }}</span>
          <i class="icon ion-chevron-right"></i>
        </a>
      </div>
    -->
      <div class="item item-body feedtitle-bg">
        <h2 class="post-title">{{post.title}}</h2>
      </div>
      <div class="item locationwrap" ng-if="post.location != 'undefined'">
        <!--<a ui-sref="app.post({ postId: card.id })"></a> //use this to show map and location distance etc screen later -->
        <icon class="ion-location assertive item-body" > {{ post.location }}</icon>

      </div>
      <div class="item item-avatar">
        <div class="card-avatar-image-outer">
          <a ui-sref="app.profile.posts({userId: post.user.id})">
            <pre-img ratio="_1_1" helper-class="avatar-image">
              <img ng-src="{{ post.user.photo }}" spinner-on-load>
            </pre-img>
          </a>
        </div>
        <a ui-sref="app.profile.posts({userId: post.user.id})">
          <h2 class="avatar-title"><icon class="icon ion-person midgetfont" ng-if="!post.user.ismechanic"></icon><icon ng-if="post.user.ismechanic" class="icon ion-android-car midgetfont"></icon> {{ post.user.fname }} {{ post.user.lname }} <icon class="icon ion-minus calm midgetfont" ng-if="!post.user.isverified"></icon><icon ng-if="post.user.isverified" class="icon ion-plus calm midgetfont"></icon></h2>
        </a>
        <p class="avatar-description"><span am-time-ago="post.date"></span></p>
          <a ui-sref="app.category_feed({ categoryId: post.category.id })">
            <span class="post-category {{ post.category.slug }}">{{ post.category.name }}</span>
          </a>
      </div>
      <div class="item item-body post-description-outer">
        <p class="post-description">{{post.description}}</p>
        <!--<p ng-controller="GeoCtrl">test here: lat: {{lat}} long: {{long}} </p> -->
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="row">

      <div class="col col-center actions-col">
        <div class="actions-brief float-left">

          <a ng-controller="CommentsCtrl" ng-click="showComments(post)" class="subdued button button-icon button-small theme-icon icon icon-chat-3">{{post.comments}}</a>
          <a class="subdued button button-icon button-small theme-icon icon ion-ios-medical" ng-controller="BiddsCtrl" ng-click="showBidds(post)" >{{post.bidds}}</a>
        </div>
      </div>
      <div class="col col-center actions-col float-right">
        <!-- <button class="button button-icon theme-icon icon-share" social-share share="post"></button>
        <button ng-controller="CommentsCtrl" class="button button-icon button-small theme-icon icon-chat-3" ng-click="showComments(post)" ng-if="post.user.id != 0"></button> -->
        <button ng-controller="BiddsCtrl" ng-if="loggedUserIsMechanic ==1 " class="button button-icon button-small icon ion-ios-medical" ng-click="showBidds(post)" ng-if="post.user.id != post.loggeduserid">Bid</button>
<!-- Show edit button if been viewed by post owner -->
<button ng-controller="NewPostCtrl" class="button button-icon button-small ion-android-delete" ng-click="deleteJobPost(post)" ng-if="post.user.id == post.loggeduserid"></button>
<button ng-controller="NewPostCtrl" class="button button-icon button-small  icon ion-edit" ng-click="editJobPost(post)" ng-if="post.user.id == post.loggeduserid"></button>


      </div>
    </div>
  </ion-footer-bar>
</ion-view>
