
	<ion-modal-view class="auth-view modal-view ">

		<ion-header-bar class="bar-positive">
			<div class="buttons">
		    <button class="button button-clear" ng-click="forgot_password_modal.hide()">Close</button>
		  </div>
		  <h1 class="title">Recover Password</h1>
	  </ion-header-bar>
	<ion-content class="padding">
		<div class="row form-heading">
      <div class="col">
				<h3 class="form-sub-title" ng-if="!passwordresetrequest">Enter the email you used to register for your account</h3>
				<h3 class="form-sub-title" ng-if="passwordresetrequest">Check your email and enter reset code below</h3>
			</div>
		</div>
		<div class="row form-wrapper">
      <div class="col">
				<form name="recover_password_form" class="" novalidate>
					<div class="form-fields-outer list list-inset">
						<label class="item item-input">
							<input type="email" placeholder="Email" ng-disabled="passwordresetrequest" name="user_email" ng-model="pwdreset.user_email" required>
						</label>
						<label class="item item-input" ng-if="passwordresetrequest">
							<input type="password" placeholder="Enter new password"  name="user_new_password" ng-model="pwdreset.user_new_password" required>
						</label>
							<label class="item item-input" ng-if="passwordresetrequest">
								<input type="number" placeholder="Enter reset code"  name="user_password_reset_code" ng-model="pwdreset.user_password_reset_code" required>
								</label>
						<button type="submit" class="recover-password button-large button button-block" ng-click="requestNewPassword(pwdreset.user_email)" ng-if="!passwordresetrequest" ng-disabled="recover_password_form.$invalid">
							Recover
						</button>
						<button type="submit" class="recover-password button-large button button-block" ng-click="resetPassword()" ng-if="passwordresetrequest" ng-disabled="recover_password_form.$invalid">
							Reset
						</button>
					</div>
				</form>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
